select,
input {
    font-family: $base-font-family;
    border: 1px solid $gray;
    @include border-radius(6px);
    padding: 0.655rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: $graydk;
}

.form {
    font-family: $base-font-family;
    @include font-style("regular", $height: 1.2);
    font-size: 14px;

    &__field {
        margin-bottom: $fieldspacingY;
    }
}