//--- Mixins

//-- Fonts props... fw, lh, fs
@mixin font-weight($weight) {
  $value: map-get($font-weights, $weight);
  font-weight: $value;
}

@mixin line-height($height) {
  line-height: $height;
}

@mixin font-style($weight, $multiplier: null, $height: null) {
  @include font-weight($weight);
  @if $multiplier {
    font-size: font-size($multiplier);
  }
  @if $height {
    @include line-height($height);
  }
}

//-- Display flex alignments

@mixin flex-alignment($justify: null, $align: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// Margin mixin
@mixin margin($args...) {
  margin: $args;
}

// Padding mixin
@mixin padding($args...) {
  padding: $args;
}

// Box shadows
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;       
          box-shadow: $shadow;
}

// Border radius
@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;       
          border-radius: $radius;
}

// Circle
@mixin circle($size, $border-width: 0, $border-color: transparent, $fill-color: transparent) {
  width: $size;
  height: $size;
  background-color: $fill-color;
  border: $border-width solid $border-color;
}

// Mobile Breakpoints

/* -- Mobile: Up to 600px
-- Tablet: 600px - 768px
-- Laptop: 768px - 1024px
-- Desktop: 1024px and above
*/

@mixin responsive($breakpoint, $min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

// Headings font sizes (h1, h2, h3, h4, h5, h6)

@mixin display-heading-size($size) {
  $value: map-get($headinig-font-sizes, $size );
  font-size: $value;
}
// -- Usage
/*h1{
   @include display-heading-size(h1)
}*/