// ========================================
// COLOR PALETTE STYLE GUIDE
// ========================================

// ---------------->>>
// General Colors
// ---------------->>>

$white: #ffffff; // white
$black: #000000; // black
$gray: #cccccc; // gray
$graylt: #f7f7f7; // gray light
$graydk: #666666; // gray drak
$red: #f00000; // red
$green: #00ff00; // green
$blue: #0000ff; // blue
$transparent: transparent; // transparent

// ---------------->>>
// Main Colors I.e (Primary, Secondary, Teritory)
// ---------------->>>

$primary: #5848BD;
$primary-400: #7262c7;
$primary-300: #8c7dd1;
$primary-200: #ada3de;
$primary-100: #cec7eb;
$primary-50: #ece8f7;

$secondary: #F2F7FE;

// ---------------->>
// Success, Warning, and Error colors for alerts, success messages, etc.
// ---------------->>>

$success: #a5d6a7; // Success
$warning: #FFFDE1; // Warning
$error: #B00020; // Error

// ---------------->>>
// Component Colors
// ---------------->>>